extends ./layouts/Index.pug

block contenido 
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg" class="img-fluid" alt="imagen sobre nosotros")
            div(class="col-md-7")
                h1= pagina 
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan et nisl eget feugiat. Donec consequat ut urna eu efficitur. Etiam vitae sodales orci. Donec pellentesque, nisl eu pretium sodales, purus nulla volutpat erat, non pharetra purus sem in erat. Donec tincidunt augue lorem, quis pulvinar libero venenatis eget. Nam id fringilla nisi. Proin sagittis sem eget nisi tincidunt fermentum. Phasellus eu dapibus elit. Pellentesque auctor hendrerit tempus. Vivamus sed ultricies tortor.
                p vel velit ac eros imperdiet faucibus. Aenean luctus mollis porta. Integer bibendum ligula velit, ac consectetur leo efficitur id. Nullam pellentesque quam congue arcu posuere, ut sagittis mauris auctor. Quisque venenatis ultricies erat, ut volutpat augue porta id.
                p et malesuada fames ac ante ipsum primis in faucibus. Aliquam turpis augue, fermentum eu scelerisque ullamcorper, porta porttitor tortor. Ut posuere dignissim odio, nec maximus ipsum dictum porta.
    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Aliquam turpis augue, fermentum eu scelerisque ullamcorper pellentesque quam congue porta porttitor.
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2(class="mb-4") Destinos
                    p Aliquam turpis augue, fermentum eu scelerisque ullamcorper pellentesque quam congue porta porttitor.
                div(class="col-md-4")
                    img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2(class="mb-4") Precios
                    p Aliquam turpis augue, fermentum eu scelerisque ullamcorper pellentesque quam congue porta porttitor.